In [7]:
import pandas as pd
from geopy.geocoders import Nominatim
import folium
from textblob import TextBlob
import time
import os

In [18]:
df_sheet1 = pd.read_excel("../resources/dataset/Updated Challenge dataset.xlsx", sheet_name="Candidat au don 2019 (avec anne")

In [19]:
df_sheet1.head()

,Date de remplissage de la fiche,Date de naissance,Niveau d'etude,Genre,Taille,Poids,Situation Matrimoniale (SM),Profession,Arrondissement de résidence,Quartier de Résidence,...,"Raison de non-eligibilité totale [Porteur(HIV,hbs,hcv)]",Raison de non-eligibilité totale [Opéré],Raison de non-eligibilité totale [Drepanocytaire],Raison de non-eligibilité totale [Diabétique],Raison de non-eligibilité totale [Hypertendus],Raison de non-eligibilité totale [Asthmatiques],Raison de non-eligibilité totale [Cardiaque],Raison de non-eligibilité totale [Tatoué],Raison de non-eligibilité totale [Scarifié],Si autres raison préciser
0,3/11/0019,1999-09-01 00:00:00,Pas Précisé,Homme,NaN,NaN,Célibataire,Chaudronnier,Douala 3,Logbaba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3/21/0019,1978-02-04 00:00:00,Universitaire,Homme,NaN,NaN,Marié (e),Secrétaire comptable,Douala (Non précisé ),NDOGPASSI 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1977-12-25 00:00:00,1977-12-25 00:00:00,Secondaire,Femme,NaN,NaN,Marié (e),Commerçant (e),Douala (Non précisé ),Dakar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1986-02-06 00:00:00,1986-02-06 00:00:00,Secondaire,Homme,NaN,NaN,Célibataire,Homme d’affaire,Douala 5,NGANGUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1988-05-20 00:00:00,1988-05-20 00:00:00,Pas Précisé,Homme,NaN,NaN,Célibataire,Beat Maker,Douala (Non précisé ),Douala,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_sheet2 = pd.read_excel("../resources/dataset/Updated Challenge dataset.xlsx", sheet_name="Donneurs 2019")

In [23]:
df_sheet2.head()

,Horodateur,Sexe,Age,Type de donation,Groupe Sanguin ABO / Rhesus,Phenotype
0,2020-07-16 19:02:33.994,M,26,F,B+,"RH-2, RH+4, RH-3, RH+5, -kell1"
1,2020-07-16 19:05:51.521,M,24,F,O+,"RH-2, RH+4, RH-3, RH+5, -kell1"
2,2020-07-17 04:52:09.054,M,41,F,A+,"RH+2, RH+4, RH-3, RH+5, -kell1"
3,2020-07-17 04:56:03.200,M,20,F,O+,"RH-2, RH+4, RH-3, RH+5, -kell1"
4,2020-07-17 05:49:40.730,M,34,F,O+,"RH-2, RH+4, RH+3, RH+5, -kell1"

In [ ]:
geolocator = Nominatim(user_agent="geo_mapping")

def get_coordinates(location):
    try:
        time.sleep(1)  # Add delay to avoid rate limit issues
        loc = geolocator.geocode(location, timeout=10)  # Increase timeout
        if loc:
            return pd.Series([loc.latitude, loc.longitude])
        else:
            return pd.Series([None, None])
    except Exception as e:
        print(f"Error for {location}: {e}")
        return pd.Series([None, None])

df_sheet1[['Latitude', 'Longitude']] = df_sheet1['Arrondissement de résidence'].apply(get_coordinates)

Error for Douala 5: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+5&format=json&limit=1 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000243F48D8A90>: Failed to resolve 'nominatim.openstreetmap.org' ([Errno 11001] getaddrinfo failed)"))
Error for Douala 4: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+4&format=json&limit=1 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000243F48D94B0>: Failed to resolve 'nominatim.openstreetmap.org' ([Errno 11001] getaddrinfo failed)"))
Error for Douala 3: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+3&format=json&limit=1 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000243F48D9EA0>: Failed to resolve 'nominatim.openstreetmap.org' ([Errno 11001] getaddrinfo failed)"))
Error for Douala 3: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+3&format=json&limit=1 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000243F48DA890>: Failed to resolve 'nominatim.openstreetmap.org' ([Errno 11001] getaddrinfo failed)"))
Error for Douala 2: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+2&format=json&limit=1 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000243F48D9BA0>: Failed to resolve 'nominatim.openstreetmap.org' ([Errno 11001] getaddrinfo failed)"))
Error for Douala 3: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+3&format=json&limit=1 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000243F48D8FD0>: Failed to resolve 'nominatim.openstreetmap.org' ([Errno 11001] getaddrinfo failed)"))
Error for Douala 3: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+3&format=json&limit=1 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000243F48DAE30>: Failed to resolve 'nominatim.openstreetmap.org' ([Errno 11001] getaddrinfo failed)"))
Error for Douala 3: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+3&format=json&limit=1 (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000243F48DB790>: Failed to resolve 'nominatim.openstreetmap.org' ([Errno 11001] getaddrinfo failed)"))
Error for Douala (Non précisé ): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+%28Non+pr%C3%A9cis%C3%A9+%29&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=10)"))
Error for Douala (Non précisé ): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+%28Non+pr%C3%A9cis%C3%A9+%29&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=10)"))
Error for Douala (Non précisé ): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Douala+%28Non+pr%C3%A9cis%C3%A9+%29&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=10)"))

In [ ]:
map_center = [df_sheet1['Latitude'].mean(), df_sheet1['Longitude'].mean()]
map_donors = folium.Map(location=map_center, zoom_start=12)

# Add points to map
for index, row in df_sheet1.dropna(subset=['Latitude', 'Longitude']).iterrows():
    folium.Marker(
        location=[row['Latitude'], row['Longitude']],
        popup=row['Arrondissement de résidence'],
        icon=folium.Icon(color="red", icon="info-sign")
    ).add_to(map_donors)

# Save or display
map_donors.save("donor_distribution.html")